<form name="addProjectForm">
	<fieldset>
		<legend>Add a Project</legend>
		<label>Name:</label>
		<input name="projectname" type="text" placeholder="Project Name..." ng-model="project.name" required />
	  <span ng-show="addProjectForm.projectname.$error.required" class="help-inline">Required</span>
	  	<input name="projectid" type="text" placeholder="Project Id..." ng-model="project.prjct_id" required />
		<label>Description</label>
		<textarea ckeditor="editorOptions" class="form-control" rows="15"  ng-model="project.description" required /> 
   </textarea>
		<input type="file" ng-file-select="onFileSelect($files)" accept="image/*"/><br>
		<button type="submit" class="btn btn-primary" ng-click="create(project)" ng-disabled="addProjectForm.$invalid">Submit</button>
	</fieldset>
</form>
<style>
	.help-inline{
		color: red;	
	}
</style>
